.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: #eee;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #444;
  color: #eee;
  border: none;
  border-radius: 0.25rem;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

input:focus[type="text"] {
  background-color: #878787;
}

button[type="submit"] {
  padding: 1rem;
  background-color: #0d2fb6;
  color: #eee;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

button[type="submit"]:hover {
  background-color: #1c317d;
}
